---
import { useTranslations } from '../i18n/utils';
import type { Lang } from '../i18n/ui';

type Props = { lang: Lang };
const { lang } = Astro.props;
const t = useTranslations(lang);
---
<footer class="site-footer">
  <nav class="links" aria-label="external">
    <a href="https://github.com/lebe-dev" rel="me noopener" target="_blank">GitHub</a>
    <a href={`/${lang}/rss.xml`}>RSS</a>
    {/* TODO: add more socials when ready */}
  </nav>
  <p>{t('footer.privacy')}</p>
</footer>
