---
import { formatDate } from '../i18n/utils';
import type { Lang } from '../i18n/ui';

interface Post {
  slug: string;
  title: string;
  pubDate: Date;
}

type Props = { lang: Lang; posts: Post[] };
const { lang, posts } = Astro.props;
---
<ul class="posts-list">
  {posts.map((p) => (
    <>
      <li class="date">{formatDate(p.pubDate)}</li>
      <li class="title"><a href={`/${lang}/blog/${p.slug}/`}>{p.title}</a></li>
    </>
  ))}
</ul>
