---
import { useTranslations } from '../i18n/utils';
import type { Lang } from '../i18n/ui';

type Props = { lang: Lang };
const { lang } = Astro.props;
const t = useTranslations(lang);
---
<section aria-labelledby="projects-heading">
  <h2 id="projects-heading" class="section-title">{t('section.projects')}</h2>
  <p class="muted section-subtitle">{t('section.projects.subtitle')}</p>
  <ul class="projects-list">
    <li>
      <span class="proj-title"><a href="https://github.com/lebe-dev/deep-reader" target="_blank" rel="noopener">{t('projects.deepreader.title')}</a></span>
      <span class="proj-desc">{t('projects.deepreader.description')}</span>
    </li>
    <li>
      <span class="proj-title"><a href="https://github.com/lebe-dev/submarine" target="_blank" rel="noopener">{t('projects.submarine.title')}</a></span>
      <span class="proj-desc">{t('projects.submarine.description')}</span>
    </li>
    <li>
      <span class="proj-title"><a href="https://github.com/lebe-dev/pw" target="_blank" rel="noopener">{t('projects.pw.title')}</a></span>
      <span class="proj-desc">{t('projects.pw.description')}</span>
    </li>
    <li>
      <span class="proj-title"><a href="https://github.com/lebe-dev/transmitter" target="_blank" rel="noopener">{t('projects.transmitter.title')}</a></span>
      <span class="proj-desc">{t('projects.transmitter.description')}</span>
    </li>
    <li>
      <span class="proj-title"><a href="https://github.com/lebe-dev/shortly" target="_blank" rel="noopener">{t('projects.shortly.title')}</a></span>
      <span class="proj-desc">{t('projects.shortly.description')}</span>
    </li>
    <li>
      <span class="proj-title"><a href="/cc/" class="proj-external">{t('projects.cc.title')}</a></span>
      <span class="proj-desc">{t('projects.cc.description')}</span>
    </li>
    {/* TODO: add more projects here */}
  </ul>
</section>
